.boxify {
  left: 50%;
}
.fancy-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
  
    div {
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  
      &.ring {
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent;
        animation: 2s fancy infinite alternate;
        
        &:nth-child(1) {
          border-left-color: #095850;
          border-right-color: #095850;
        }
        &:nth-child(2) {
          border-top-color: #095850ca;
          border-bottom-color: #095850ca;
          animation-delay: 1s;
        }
      }
  
      &.dot {
        width: 1rem;
        height: 1rem;
        background: #095850ec;
      }
    }
  }
  
  @keyframes fancy {
    to {
      transform: rotate(360deg) scale(0.5);
      
    }
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  .loader-load{
    h4{
      color: #4a5568;
      animation: 2s load infinite alternate;
    }
  }

  @keyframes load {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }